<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginControler</servlet-name>
        <servlet-class>Controler.LoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtudiantsControler</servlet-name>
        <servlet-class>Controler.EtudiantsControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaiementEcolage</servlet-name>
        <servlet-class>Controler.PaiementEcolage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BulletinControler</servlet-name>
        <servlet-class>Controler.BulletinControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControler</servlet-name>
        <servlet-class>Controler.LogoutControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoteControler</servlet-name>
        <servlet-class>Controler.NoteControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControler</servlet-name>
        <url-pattern>/LoginControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtudiantsControler</servlet-name>
        <url-pattern>/EtudiantsControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaiementEcolage</servlet-name>
        <url-pattern>/PaiementEcolage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BulletinControler</servlet-name>
        <url-pattern>/BulletinControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControler</servlet-name>
        <url-pattern>/LogoutControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoteControler</servlet-name>
        <url-pattern>/NoteControler</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
